<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{/layout/index :: dynamic(~{::main})}">
    <body>
        <main>
            <div class="border border-primary mt-4" style="border-radius: 5px;">
                <div class="card-header">YOUR ORDERS PURCHASED</div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Order No.</th>
                            <th>Order Date</th>
                            <th>Shipping Address</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="order, state : ${orders}">
                            <td>[[${state.index}]]</td>
                            <td>[[${order.id}]]</td>
                            <td>[[${order.createDate}]]</td>
                            <td>[[${order.address}]]</td>
                            <td>
                                <a th:href="@{|/order/detail/${order.id}|}" class="btn btn-light"><i class="fas fa-search"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>